<a href="https://colab.research.google.com/github/Albert8754/TCS-iON-Forecasting-System---Project-Demand-of-Products-at-a-Retail-Outlet-Based-on-Historical-Data/blob/main/Forecating_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#importing nessacerry libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#importing testing dataset
test=pd.read_csv('/content/test.csv')
test.head()

   id        date  store  item
0   0  2018-01-01      1     1
1   1  2018-01-02      1     1
2   2  2018-01-03      1     1
3   3  2018-01-04      1     1
4   4  2018-01-05      1     1

In [4]:
#importing training dataset
train=pd.read_csv('/content/train.csv')
train.head()

         date  store  item  sales
0  2013-01-01      1     1   13.0
1  2013-01-02      1     1   11.0
2  2013-01-03      1     1   14.0
3  2013-01-04      1     1   13.0
4  2013-01-05      1     1   10.0

In [6]:
test.shape,train.shape

((45000, 4), (555362, 4))

In [11]:
test.isna().sum()

id       0
date     0
store    0
item     0
dtype: int64

In [10]:
train.isna().sum()

date     0
store    0
item     0
sales    1
dtype: int64

In [12]:
test.dtypes

id        int64
date     object
store     int64
item      int64
dtype: object

In [13]:
train.dtypes

date      object
store      int64
item       int64
sales    float64
dtype: object

#DATA PREPROCESSING